@{
    ViewBag.Title = "Movie Details";
}

<h2>Movie Details</h2>

<div>
    <h4>Movie Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           
        </dt>

        <dd>
           
        </dd>

        <dt>
          
        </dt>

        <dd>
           
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
